@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }

.hide {
    display: none;
}

#form {
    margin-bottom: 100px;
    size: 48px;
}

#input {
    font-size: 30px;
}

#button{
    font-size: 20px;
    color: #f46d76;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: #008b8b;
    font-family: 'Amatic SC', cursive;
}

/* HEADER */

#header-nav {
    background-color: #fdf5e6;
    border-radius: 15%;
    border: 20px;
    margin: 20px 0px 20px 0px;

}

#logo-img {
    background: url("../images/imgonline-com-ua-Resize-nP3DSbX2bT5O.png") no-repeat;
    width: 238px;
    height: 222px;
    margin: 10px 25px 10px 10px;
    border-radius: 50%;
   

}
.navbar-brand {
    padding-top: 25px;
   
}

.navbar-brand h1 {
    color: #8B0000;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: -5px;
    
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p {
    color: #696969;
    text-transform: uppercase;
    font-size: 25px;
   
}

#nav-list {
    margin-top: 25px;
    
}

#nav-list a {
    color: #8B0000;
    text-align: center;
    font-size: 2em;
}

#nav-list a:hover {
    color:bisque;

}
#nal-list a span {
    font-size: 50px;
}

#insta {
    position: relative;
}

#face {
    position: relative;
}
#phone {
    font-size: 15px;
    margin-top: 100px;
    text-align: center;
    
   
}

#phone a {
    margin-left: 25px;


}

#collapsable-nav a span {
    margin-bottom: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border-radius: 45%; border: 1px solid #8B0000;  
}


.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: 20px;
    
  

    
}

/* MAIN CONTENT */

#life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title, #inspirationn-title {
    height: 280px;
    width: 280px;
    margin: 0;
    margin:auto;


    overflow:hidden;
    background: #fdf5e6;
 
    text-align: center;
    padding-top: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #8B0000;
}



#life-title:hover, #trip-title:hover, #art-title:hover, #movies-title:hover, #music-title:hover, #inspiration-title:hover, #inspirationn-title:hover {
    box-shadow: 0 1px 25px 1px #8B0000;
    text-decoration: none;
} 

.row a:hover, .row a:focus {
    text-decoration: none;
}






/* Slider */

.flex{
    display: flex;
}

.flex_column{
    min-width: 0;
}
.slider{
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}
#home-titles {
    position: relative;
    margin: 0px;
    
    
}
#home-titles .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -100px 0 0 0;
    z-index: 10;
    font-size: 0;
    margin-left: 0px;
    margin-right: 0px;

    
}

#home-titles .slick-arrow.slick-prev{
    left: 0;
    background: url(../images/arrow-left.svg) 0 0 / 100% no-repeat;
    width: 70px;
    height: 70px;
    border: 0;
   

}

#home-titles .slick-arrow.slick-next{
    right: 0;
    background: url(../images/arrow-right.svg) 0 0 / 100% no-repeat;
    width: 70px;
    height: 70px;
    border: 0;
}
#home-titles .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-titles .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

#home-titles .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 15px;
    border-radius: 50%;
    margin-top: 100px;
  
    background-color: #fff;
}
#home-titles .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #fff; 
}

#home-titles .slick-active button {
    background-color: transparent;
    border: 1px solid #fff; 
}

.slick-slide {
    opacity: 0.4;
    text-align: center;
    margin: 0;
}
.slick-slide.slick-center {
    opacity: 1;
}
/* FOOTER */

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    Background-color: #222;
    border: 0;
    opacity: 0.7;
    
    
}

#media-object-left {
    background: url("../images/stich4.png");
    width: 200px;
    height: 188px;
    position: relative;
    margin-left: 175px;
    margin-top: -20px;
}

#media-object-right {
    background: url("../images/lilo.png");
    width: 200px;
    height: 213px;
    padding: 0;
    margin-top: -145px;
    margin-right: 175px;
}

.panel-footer span {
    font-size: 40px;
    text-align: center;
    margin-left: 80px;
    padding-top: 20px;
    
    
}
#media-object-left #media-object-right {
    clear: both;
}

#copyright {
    padding-top: 30px;
}


/* TRIP CATEGORY PAGE */
#map-img{
    margin-bottom: 40px;
    margin-top: 30px;
}

#category-body {
    background-color: #dddddd;
   
}

#header-nav-category {
    /*background-color: #3cb371;*/
    background-color: #ccfce1;
    border-radius: 0%;
    margin: 0px 0px 0px 0px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    border: 0;
    
    
    

}

.navbar-header-category span {
    color: #222;
    margin-top: 0;
    
}

.navbar-header-category a:hover, .navbar-header-category a:focus {
    text-decoration: none;
}


#head-home {
    font-size: 55px;
    margin-top: 10px;
    padding-bottom: 0px;
    

    
}
#head-home:hover {
    box-shadow: 0px 25px 25px 0px #3cb371;
    text-decoration: none;
} 

#logo-img-category {
   margin-right: 300px;
  
}

.container .jumbotron {
    background: radial-gradient(#fff,#9cdbb8);
    box-shadow: 0 0 50px #3cb371;
    border-radius: 0%;
    margin: 30px 15px 30px 15px;
    border: 0;
    opacity: 0.9;
    

}

#jumbotron-art {
    background: radial-gradient(#fff,#c22933);
    box-shadow: 0 0 50px #c22933;

}

#jumbotron-art:hover {
    box-shadow: 0 1px 25px 1px #52181c;
    text-decoration: none;
}

.img-responsive {
    border-radius: 0%;
    margin: auto;
   
 

}


/*#logo-img-category {
    background: url(../images/header4.png) no-repeat;
    width: 500px;
    height: 80px;
    background-position: right;
    margin-top: 2%;
    margin-right: 20%;
    
}*/

.menu-item-description {
    color: #222;
    font-family: 'Square Peg', cursive;
    text-align: justify;

}


.menu-item-description p {
    font-size: 24px;

}

.menu-item-description h3 {
    font-size: 34px;
    text-align: center;
}

.jumbotron:hover {
    box-shadow: 0 1px 25px 1px rgb(3, 72, 38);
    text-decoration: none;
}

.jumbotron a:hover, .jumbotron a:focus {
    text-decoration: none;
}

.navbar-header-category, .navbar-header {
    clear: both;
    display: inline;
}

.btn {
    background: radial-gradient(#fdf5e6, #808080 );
    color: #222;
    border: #222;
    
}


#button {
    color: #222;
}

#img-head-xs {
    margin-top: -15px;
    margin-bottom: 5px;
    opacity: 0.8;
}


/*TRIP photo Hoverla*/
#photo-trip-hoverla{
    border-radius: 15%;
}
#map-title {
    text-align: center;
}


/*slider-trip*/

.slider-big{
    margin-bottom: 50px;
    margin-top: 50px;
}
.slider-min {
    position: relative;
    margin: 0px;
   
    
    
}
.slider-min .slick-arrow{
    position: absolute;
    top: 30%;
    margin-left: 15px;
    z-index: 10;
    font-size: 0;
    margin-left: 0px;
    margin-right: 0px;

    
}

.slider-min .slick-arrow.slick-prev{
    left: 0;
    background: url(../images/left-arrow-trip.svg);
   
    width: 30px;
    height: 30px;
    border: 0;
    
   

}

.slider-min .slick-arrow.slick-next{
    right: 0;
    background: url(../images/right-arrow-trip.svg);
    width: 30px;
    height: 30px;
    border: 0;
}
#slidermin-item {
    border-radius: 0%;
    opacity: 1;
}
.slider-min .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-min .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider-min .slick-dots button{
    font-size: 0;
    width: 4px;
    height: 10px;
    border-radius: 50%;
    margin-top: 100px;
    background-color: transparent;
    border: 1px solid #fff; 
  
}
.slider-min .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0); 
}

.slider-min .slick-active button {
    background-color: transparent;
    border: 1px solid #fff; 
}
#trip-jumbotron{
    background: radial-gradient(#fff,#dddddd);
    box-shadow: 0px 0px 0px;
    border-radius: 0%;
    margin: 30px 15px 30px 15px;
    border: 0;
    opacity: 0.9;
}

.img-responsive#slider-item-in {
    border-radius: 0;
    opacity: 1;
}
/* ART CATEGORY PAGE */

#category-body-art{
    background-color: #f8f4ee;
 }

#jumbotron-art {
    background: radial-gradient(#fff,#c22933);
    box-shadow: 0 0 50px #c22933;
    border-radius: 10%;
    border: 0px;
    opacity: 0.9;

}

#header-category-art {
    background-color: #f8535e;
    border-radius: 0;
    border-radius: 0%;
    margin: 0px 0px 0px 0px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    border: 0;
   
 

}

#head-home-art {
    font-size: 55px;
    margin-top: 10px;
    padding-bottom: 0px;
}

#head-home-art:hover {
    box-shadow: 0px 25px 25px 0px #f46d76;
    text-decoration: none;
} 


/*#logo-img-category-art {
    background: url(../images/categoryarthead.png) no-repeat;
    width: 498px;
    height: 131px;
    background-position: right;
    margin-top: 2%;
    margin-right: 40%;
    opacity: 0.9;

    
}*/

 /*DANCE CATEGORY PAGE */


 #form-dance {
    size: 100px;
    margin: 20px;
    position: inherit;
    

 }
 #input-dance{
    font-size: 25px;
 }
 #category-body-dance{
    background-color: #f8f4ee;
 }
 #jumbotron-dance {
    background: radial-gradient(#fff,#fff);
    box-shadow: 0 0 50px #f6ce9b;
    border-radius: 15%;
    border: 0;
    opacity: 0.9;

}

#jumbotron-dance:hover {
    box-shadow: 0px 25px 25px 0px #222;
    text-decoration: none;
}

#header-category-dance {
    background-color: #fff;
    border-radius: 0;
    border-radius: 0%;
    margin: 0px 0px 0px 0px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    border: 5px double #fdf5e6;

}

#head-home-dance {
    font-size: 55px;
    margin-top: 10px;
    padding-bottom: 0px;
}

#head-home-dance:hover {
    box-shadow: 0px 25px 25px 0px #222;
    text-decoration: none;
} 

#c {
    border-radius: 0%;
}

/*3D CATEGORY PAGE */

#jumbotron-3d {
    background: radial-gradient(#fff,#222);
    box-shadow: 0 0 50px #222;

}

#jumbotron-3d:hover {
    box-shadow: 0px 25px 25px 0px #222;
    text-decoration: none;
}




#header-category-3d {
    background-color: #fdf5e6;
    border-radius: 0;
    border-radius: 0%;
    margin: 0px 0px 0px 0px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    border: 5px double #fdf5e6;

}

#head-home-3d {
    font-size: 55px;
    margin-top: 10px;
    padding-bottom: 0px;
}

#head-home-3d:hover {
    box-shadow: 0px 25px 25px 0px #fdf5e6;
    text-decoration: none;
} 

/*MOVIES */

#jumbotron-movies {
    border-radius: 0%;
    border: 0;
    background: #fdf5e6;
    margin: 5px;
    box-shadow: 0px 0px 0px 0px;
}

#movies {
    margin-top: 20px;
}

#header-category-movies {
    background-color: #fdf5e6;
    border-radius: 0;
    border-radius: 0%;
    margin: 0px 0px 20px 0px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    border: 5px double #fdf5e6;

}

@media (min-width: 1200px) {
    #header-nav {
        border: 5px double #8B0000;
    }

    #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title, #inspirationn-title {
        border: 5px double #3cb371;
    }


}

@media (min-width: 992px) and (max-width: 1199px) {
    
    #header-nav {
        border: 5px double #8B0000;
        
    }

    #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title, #inspirationn-title {
        width: 220px;
        height: 220px;
        margin: 0 auto 15px;
        font-size: 5vw;
        padding-top: 60px;
        margin-top: 20px;
        border: 5px double #3cb371;
    }

    #media-object-left {
        background: url("../images/stichmd.png");
        width: 160px;
        height: 150px;
        margin-left: 85px;
        margin-top: -5px;
    }
    
    #media-object-right {
        background: url("../images/lilomd.png");
        width: 160px;
        height: 170px;
        padding: 0;
        margin-top: -150px;
        margin-right: 85px;
    }
    
    .panel-footer span {
        font-size: 4vw;
        margin-left: 45px;
        padding-top: -50px;
        
        
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #header-nav {
        border: 5px double #8B0000;
    
        
    }
    
    #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title, #inspirationn-title {
        width: 250px;
        height: 250px;
        margin: 0 auto 15px;
        font-size: 7vw;
        padding-top: 80px;
        margin-top: 20px;
        margin-right: 20px;
        border: 5px double #3cb371;
    }

    #media-object-left {
        background: url("../images/stichsm2.png");
        width: 130px;
        height: 122px;
        margin-left: 75px;
        margin-top: -5px;
    }
    
    #media-object-right {
        background: url("../images/lilosm2.png");
        width: 130px;
        height: 138px;
        padding: 0;
        margin-top: -110px;
        margin-right: 75px;
    }
    
    .panel-footer span {
        font-size: 4vw;
        margin-left: 50px;
        padding-top: -50px;
        
        
    }
   
  
}

@media (max-width: 767px) {
    #home-titles .slick-arrow.slick-prev{
        left: 0;
        background: url(../images/arrow-left.svg) 0 0 / 100% no-repeat;
        width: 40px;
        height: 40px;
        border: 0;
        margin-top: -60px;
       
    
    }
    
    #home-titles .slick-arrow.slick-next{
        right: 0;
        background: url(../images/arrow-right.svg) 0 0 / 100% no-repeat;
        width: 40px;
        height: 40px;
        border: 0;
        margin-top: -60px;
    }
    #home-titles .slick-dots button{
        font-size: 0;
        width: 2px;
        height: 10px;
        border-radius: 50%;
        margin-top: 20px;
        border: 0;
      
        background-color: #fff;

    }



    #header-nav {
        border: 3px double #8B0000;
        
    }
    
    
    #logo-img {
        background: url("../images/imgonline-com-ua-Resize-WMlDKsBqe9.png") no-repeat;
        width: 119px;
        height: 109px;
        margin: 5px 5px 5px 5px;
        border-radius: 50%;
        
       
        }
        
        .navbar-brand {
            padding-top: 5px;
           
        }

        .navbar-brand h1 {
            color: #8B0000;
            font-size: 6vw;
            margin-bottom: 5px;
            margin-top: 0;
     
            
            
        }
        
        .navbar-brand a:hover, .navbar-brand a:focus {
            text-decoration: none;
        }
        .navbar-brand p {
            color: #696969;
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 5vw;
            
           
        }

        button.navbar-toggle {
            margin-right: -5px;
       
            
            
        }

        #nav-list {
            font-size: 10px;
            
        }
        #collapsable-nav a span {
            margin-right: 10px;
        }
        #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title, #inspirationn-title {
            width: 200px;
            height: 200px;
            margin: 0 auto 15px;
            font-size: 8vw;
            padding-top: 70px;
            margin-top: 25px;
            border: 3px double #3cb371;
            
        }
    
        #media-object-left {
            background: url("../images/stichsm.png");
            width: 80px;
            height: 75px;
            margin-left: 0px;
            margin-top: -5px;
        }
        
        #media-object-right {
            background: url("../images/lilosm.png");
            width: 80px;
            height: 85px;
            padding: 0;
            margin-top: -75px;
            margin-right: 0;
        }
        
        .panel-footer span {
            font-size: 6vw;
            margin-left: 20px;
            padding-top: -50px;
            
            
        }


        /*CATEGORY PAGE*/

        #header-nav-category {
          
            border: 2px double #fdf5e6;
            
            
        
        }

        .container .jumbotron {
            margin: 15px -10px 15px -10px;
           
            border-radius: 0%;
            
        
        }

        #logo-img-category {
            background: url(../images/headercatsm.png) no-repeat;
            width: 380px;
            height: 61px;
            background-position: right;
            margin-top: -50px;
            margin-right: 0px;
            position: relative;

        }

        .menu-item-description p {
            font-size: 6vw;
        
        }
        
        .menu-item-description h3 {
            font-size: 8vw;
        }
        .img-responsive {
            border-radius: 0%;

           
         
        
        }
        #head-home {
            font-size: 6.5vw;
            margin-top: 15px;
          
        
            
        }
        .navbar-header-category span {
            font-size: 5vw;
            padding-left: 5px;
            
            
            
        }


/* ART CATEGORY PAGE */
        #logo-img-category-art {

            background: url(../images/categoryartheadsm.png) no-repeat;
            width: 250px;
            height: 66px;
            background-position: right;
            margin-top: 0px;
            margin-right: 0px;
            position: relative;

        }

        #head-home-art {
            font-size: 5vw;
            margin-top: 15px;
          
        
            
        }
        #head-home-dance {
            font-size: 5vw;
            margin-top: 15px;
          
        }

        #head-home-3d {
            font-size: 5vw;
            margin-top: 15px;
           
        }

       /*slider-trip*/
       .slider-big{
        margin: 0px;
       }
        #slidermin-item{
         margin: 0 30px 0 0;
         margin-top: 0px;
        }
        #photo-trip-hoverla{
            border-radius: 0%;
        }

        .slider-min .slick-arrow.slick-prev{
            left: 0;
            background: url(../images/left-arrow-trip.svg) 0 0 / 100% no-repeat;
            width: 20px;
            height: 20px;
            border: 0;
            margin-top: -20px;
           
        
        }
        
        .slider-min .slick-arrow.slick-next{
            right: 0;
            background: url(../images/right-arrow-trip.svg) 0 0 / 100% no-repeat;
            width: 20px;
            height: 20px;
            border: 0;
            margin-top: -20px;
        }
    




    }


    @media (max-width: 350px) {

        #home-titles .slick-arrow.slick-prev{
            left: 0;
            background: url(../images/arrow-left.svg) 0 0 / 100% no-repeat;
            width: 40px;
            height: 40px;
            border: 0;
            margin-top: -60px;
           
        
        }
        
        #home-titles .slick-arrow.slick-next{
            right: 0;
            background: url(../images/arrow-right.svg) 0 0 / 100% no-repeat;
            width: 40px;
            height: 40px;
            border: 0;
            margin-top: -60px;
        }
        #home-titles .slick-dots button{
            font-size: 0;
            width: 2px;
            height: 10px;
            border-radius: 50%;
            margin-top: 20px;
            border: 0;
            background-position: center;
          
            background-color: #fff;

        }
    
        
        #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title, #inspirationn-title {
            width: 180px;
            height: 180px;
            padding-top: 70px;
            margin-top: 25px;
            border: 3px double #3cb371;
            
        }

        #media-object-left {
          
            margin-left: -20px;
            margin-top: 0px;
        }
        
        #media-object-right {
            margin-top: -50px;
            margin-right: -20px;
        }

        .panel-footer span {
            font-size: 5vw;
            margin-left: 25px;
            padding-top: -50px;
            
            
        }

        #copyright {
            padding-top: 40px;
            font-size: 4vw;
            
        }
        

        #logo-img-category {
            background: url(../images/headercatxss.png) no-repeat;
            width: 190px;
            height: 30px;
            background-position: right;
            margin-top: 10px;
            margin-right: 0px;
            position: relative;

        }


   /* ART CATEGORY PAGE */

        #logo-img-category-art {
            background: url(../images/categoryartheadxxs.png) no-repeat;
            width: 190px;
            height: 50px;
            background-position: right;
            margin-top: 0px;
            margin-right: 0px;
            position: relative;

        }




    }