@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }

body {
    font-size: 16px;
    color: #fff;
    background-color: #008b8b;
    font-family: 'Amatic SC', cursive;
}

#header-nav {
    background-color: #fdf5e6;
    border-radius: 15%;
    border: 20px;
    margin: 20px 0px 20px 0px;

}

#logo-img {
    background: url("../images/imgonline-com-ua-Resize-nP3DSbX2bT5O.png") no-repeat;
    width: 238px;
    height: 222px;
    margin: 10px 25px 10px 10px;
    border-radius: 50%;
   

}
.navbar-brand {
    padding-top: 25px;
   
}

.navbar-brand h1 {
    color: #8B0000;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p {
    color: #696969;
    text-transform: uppercase;
    font-size: 25px;
   
}

#nav-list {
    margin-top: 25px;
    
}

#nav-list a {
    color: #8B0000;
    text-align: center;
    font-size: 2em;
}

#nav-list a:hover {
    color:bisque;

}
#nal-list a span {
    font-size: 50px;
}

#insta {
    position: relative;
}

#face {
    position: relative;
}
#phone {
    font-size: 15px;
    margin-top: 100px;
    text-align: center;
    
   
}

#phone a {
    margin-left: 25px;


}

#collapsable-nav a span {
    margin-bottom: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border-radius: 45%; border: 1px solid #8B0000;  
}


.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: 20px;
    
  

    
}

#life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow:hidden;
    background: #fdf5e6;
    margin-top: 50px;
    text-align: center;
    padding-top: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #8B0000;
}



#life-title:hover, #trip-title:hover, #art-title:hover, #movies-title:hover, #music-title:hover, #inspiration-title:hover {
    box-shadow: 0 1px 25px 1px #8B0000;
    text-decoration: none;
} 

.row a:hover, .row a:focus {
    text-decoration: none;
}

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    Background-color: #222;
    border: 0;
    opacity: 0.7;
    
    
}

#media-object-left {
    background: url("../images/stich4.png");
    width: 200px;
    height: 188px;
    position: relative;
    margin-left: 175px;
    margin-top: -20px;
}

#media-object-right {
    background: url("../images/lilo.png");
    width: 200px;
    height: 213px;
    padding: 0;
    margin-top: -145px;
    margin-right: 175px;
}

.panel-footer span {
    font-size: 40px;
    text-align: center;
    margin-left: 80px;
    padding-top: 20px;
    
    
}
#media-object-left #media-object-right {
    clear: both;
}

#copyright {
    padding-top: 30px;
}


@media (min-width: 1200px) {
    #header-nav {
        border: 5px double #8B0000;
    }

    #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title {
        border: 5px double #3cb371;
    }


}

@media (min-width: 992px) and (max-width: 1199px) {
    
    #header-nav {
        border: 5px double #8B0000;
        
    }

    #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title {
        width: 220px;
        height: 220px;
        margin: 0 auto 15px;
        font-size: 5vw;
        padding-top: 60px;
        margin-top: 20px;
        border: 5px double #3cb371;
    }

    #media-object-left {
        background: url("../images/stichmd.png");
        width: 160px;
        height: 150px;
        margin-left: 85px;
        margin-top: -5px;
    }
    
    #media-object-right {
        background: url("../images/lilomd.png");
        width: 160px;
        height: 170px;
        padding: 0;
        margin-top: -150px;
        margin-right: 85px;
    }
    
    .panel-footer span {
        font-size: 4vw;
        margin-left: 45px;
        padding-top: -50px;
        
        
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #header-nav {
        border: 5px double #8B0000;
    
        
    }
    
    #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title {
        width: 300px;
        height: 300px;
        margin: 0 auto 15px;
        font-size: 7vw;
        padding-top: 100px;
        margin-top: 20px;
        margin-right: 20px;
        border: 5px double #3cb371;
    }

    #media-object-left {
        background: url("../images/stichsm2.png");
        width: 130px;
        height: 122px;
        margin-left: 75px;
        margin-top: -5px;
    }
    
    #media-object-right {
        background: url("../images/lilosm2.png");
        width: 130px;
        height: 138px;
        padding: 0;
        margin-top: -110px;
        margin-right: 75px;
    }
    
    .panel-footer span {
        font-size: 4vw;
        margin-left: 50px;
        padding-top: -50px;
        
        
    }

  
}

@media (max-width: 767px) {
    #header-nav {
        border: 3px double #8B0000;
        
    }
    
    
    #logo-img {
        background: url("../images/imgonline-com-ua-Resize-WMlDKsBqe9.png") no-repeat;
        width: 119px;
        height: 109px;
        margin: 5px 5px 5px 5px;
        border-radius: 50%;
       
        }
        
        .navbar-brand {
            padding-top: 5px;
           
        }

        .navbar-brand h1 {
            color: #8B0000;
            font-size: 5vw;
            margin-bottom: 5px;
            margin-top: 0;
     
            
            
        }
        
        .navbar-brand a:hover, .navbar-brand a:focus {
            text-decoration: none;
        }
        .navbar-brand p {
            color: #696969;
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 4vw;
            
           
        }

        button.navbar-toggle {
       
            
            
        }

        #nav-list {
            font-size: 10px;
            
        }
        #collapsable-nav a span {
            margin-right: 10px;
        }
        #life-title, #trip-title, #art-title, #movies-title, #music-title, #inspiration-title {
            width: 165px;
            height: 165px;
            margin: 0 auto 15px;
            font-size: 8vw;
            padding-top: 50px;
            margin-top: 20px;
            border: 3px double #3cb371;
            
        }
    
        #media-object-left {
            background: url("../images/stichsm.png");
            width: 80px;
            height: 75px;
            margin-left: 0px;
            margin-top: -5px;
        }
        
        #media-object-right {
            background: url("../images/lilosm.png");
            width: 80px;
            height: 85px;
            padding: 0;
            margin-top: -75px;
            margin-right: 0;
        }
        
        .panel-footer span {
            font-size: 6vw;
            margin-left: 20px;
            padding-top: -50px;
            
            
        }


    }